lets chat!!!

<form id="forms">
    <input type="text" name="message" />
</form>
<div id="messages">
    <br>
</div>

<body>
    <script type="text/javascript">
        let url = "ws://" + window.location.host + "/ws/socket-server/"
        const chatSocket = new WebSocket(url)
        chatSocket.onmessage = function(e) {
            let data = JSON.parse(e.data)
            if (data.type === 'chat') {
                let m = data.message
                let messages = document.getElementById('messages')
                messages.insertAdjacentHTML(
                    'beforeend', '<div>${m}</div>'
                )
            }
        }
        let form = document.getElementById('forms')
        form.addEventListener('submit', (e) => {
            e.preventDefault()
            let message = e.target.message.value
            chatSocket.send(JSON.stringify({
                'message': message
            }))
            form.reset()
        })
    </script>
</body>